<!DOCTYPE html>
<html>
<head>
    <title>Cotações</title>
</head>
<body>
    <h1>Cotações teste</h1>
    <form method="post" action="{% url 'show_stock_prices' %}">
        {% csrf_token %}
        <input type="text" name="assets" required>
        <button type="submit">Obter Cotações</button>
    </form>
    {% for stock_price in stock_prices %}
    <h2>{{ stock_price.asset }}</h2>
    <table>
        <tr>
            <th>Close</th>
        </tr>
        {% for close_value in stock_price.stock_price %}
        <tr>
            <td>{{ close_value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>