<!DOCTYPE html>
<html>
<head>
    <title>Cotações</title>
    <script>
        var tempo = parseInt("{{ minutes|default:'1' }}", 10);
        setTimeout(function() {
            location.reload();
        }, tempo * 60000); // Valor do tempo em segundos convertido para milissegundos
    </script>
</head>
<body>
    <h1>Cotações</h1>
    {% for stock_price in stock_prices %}
    <h2>{{ stock_price.asset }}</h2>
    <table>
        <tr>
            <th>Close</th>
        </tr>
        {% for close_value in stock_price.stock_price %}
        <tr>
            <td>{{ close_value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>